body {
  font-family: "Press Start 2P", "Raleway", sans-serif !important;
  margin-top: 5em;
  /* background: linear-gradient(180deg, purple, indigo, rgb(89, 0, 255)); */
    background-image: url("./images/purpleGridBg.jpg");
  height: 100%;
   background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

h1,
h2 {
  -webkit-text-stroke: 0.375px rgba(255, 255, 255, 0.9);
}

p{
  color: rgb(255, 255, 255);
}

nav {
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
}

.character{
  margin-left: -1.5em;
  width: 46px;
  height: 39px;
  transform: scale(1.5) !important;
  background: url(./images/characterSpritesheet.png);
}

.character:hover{
   animation: characterAnimate 0.9s steps(8) infinite;
}

@keyframes characterAnimate{
  from{
    background-position: 0;
  }
  to{
    background-position: 464px;
  }
}

.carousel-container{
   width: 48vw;
    height: 72vh;
    /* background-color: rgba(209, 209, 209, 0.5); */
      background-image: url(./images/arcadeMachine.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  border-radius: 2.5%;

  padding-bottom: 1.5em;
}

.carousel-inner {
  margin-top: 1em;
  z-index: -1;
  left: 25%;
  right: 75%;
}

img{
    object-fit: cover;
    object-position: center;
    margin-top: 10em;
  width: 72rem;
  height: 24rem;
  max-width: 50%;
  max-height: 50%;

}

footer {
  margin-bottom: 1em;
}

@media only screen and (max-device-width: 1366px) {
  body {
    background-attachment: scroll;
  }
}

/* !!BELOW IS VERY IMPORTANT TO SOLVE!! */
/* @media (max-width: 1550px){
  img{
width: 125vw;
max-height: 30vh;
  }
} */
/* SMALER SCREENS MAKE SURE DOESN'T GO OUT OF BOX!! */